html, body {
	font-family: Arial;
	background-image: url("../img/BackgroundProject.png");
	background-size: 100%;
}

body {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

/* -- Reusable classes -- */
/* Styling for a button */
.button {
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 20px;
	background-color: #000000;
}

/* Center something in the middle of the viewport */
.vcenter {
	position: relative;
	top:50%;
	transform:translateY(-50);
}

.tab {
	overflow: hidden;
	border: none;
	background-color: inherit;
}

.tab button {
	background-color: inherit;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #a8a8a8;
}

.tab button.active {
	background-color: #a8a8a8;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;

}
/* Navigation bar */
.headwrap {
	display: grid;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	background-color: #000000;
	overflow: hidden;
	width: 100%
}

.headwrap ul {
	list-style: none;
	text-align: left;
}

.headwrap ul > li {
	display: inline-block;
	float:left;
	padding: 0;
}

.headwrap a {
	color: white;
	text-align: center;
	padding: 15px 30px;
	text-decoration: none;
}	

.headwrap li a:hover {
	background-color: #a8a8a8;
}

/* Contents framework */
.gridwrap {
	display: grid;
	text-align: center;
	color: white;
	width: 100%;
}
.gridwrap > div {
	background: #001a33;
}
.gridwrap > div:nth-child(odd) {
	background: #003566;
}

.gridwrap a:hover {
	background-color: #a8a8a8;
}

/* Actual content */
#home {
	min-height: 100vh;
}

#about {
	min-height: 100vh;
}
.aboutwrap {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-gap: 5px;
}

.aboutwrap > div {
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	padding: 10px;
	border: 2px; 
	border-style: solid;
	border-color: white;
	border-radius: 10px;
}

.aboutwrap > h3 {
	text-align: center;
}

#education {
	min-height: 100vh;	
}
#career {
	min-height: 100vh;
}
	
#projects {
	min-height: 100vh;
	}
	
#docs {
	min-height: 100vh;
	}
	
#contact {
	min-height: 100vh;
	}

/* Footerbar */
.footerbar {
	background-color: #000000;
	display: inline-block;
	width: 100%;
	text-align: center;
}
	
.footerbar img {
	height: 40px;
	width: 40px;
	padding-left: 25px;
}

