/* --- Globals --- */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}

html {
	background: #ffffff;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
}
p {
	text-align: justify;
}
ul {
	list-style-type: none;
	/*text-align: justify;*/
}

/* -- content -- */
#home {
	background: url("/img/home.jpg");
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
  
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	
	/* This is what makes the background image rescale based
	   on the container's size */
	background-size: cover;
	
	/* Set a background color that will be displayed
	   while the background image is loading */
	background-color: #464646;

	min-height: 100vh;
	color : white;
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

#lng {
	position: absolute;
	top:5px;
	right:5px;
}
#homeTitle {
	position: absolute;
	bottom: 20px;
}

#preface {
	display : grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 100vh;
	padding: 10px;
}
#skills {
	display : grid;
	grid-template-columns: repeat(3, 1fr);
	min-height: 100vh;
	grid-gap: 5px;
}

#skills > div {
	box-shadow: 10px 10px 5px grey;
}

.responsiveImg {
	height: auto;
	max-width: 500px;
	width: 100%;
}
#portfolio {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	min-height: 100vh;
}
#portfolio > div {
	padding: 10px;
}
#docs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
}
#docs > div {
	box-shadow: 10px 10px 5px grey;
}
@media (max-width:750px) {
	#preface {
		grid-template-columns: auto;
	}
	#skills{
		grid-template-columns: auto;
	}
	#portfolio {
		grid-template-columns: auto;
	}
	#docs {
		grid-template-columns: auto;
	}
}

/* Footerbar */
footer {
	background-color: #000000;
	width:100%;
	display: inline-block;
	color: white;
}

img {
	height: auto;
}
footer img {
	width: 50px;
	padding-left: 25px;
}
footer a:hover {
	background-color: black;
}

