/* --- Webpage wide selectors --- */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body {
	font-family: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	text-align:center;
}

header {
	background-color: #000000;
	grid-column: 1 / 3;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 10px 5%;
}

header > a {
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
}
header > a:hover {
	background-color: #a8a8a8;
}
nav > a {
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	padding: 0px 15px;
}
nav > a:hover {
	background-color: #a8a8a8;
}

.gridwrap {
	display: grid;
	/*grid-template-rows: 50px 100vh auto auto auto auto auto auto auto 100px;*/
	grid-template-rows: repeat(10, auto);
	grid-template-columns: auto auto;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	max-width: 960px;
}
.gridwrap > div {
	border: 1px solid #000000;
}
@media screen and (max-width: 600px) {
	.gridwrap {
	  grid-template-columns: auto;
	}
  }
#home {
	grid-row: 2 / 3;
	grid-column: 1 / 5;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://marine-electronics.eu/media/wysiwyg/automation/8.jpg);
	min-height: 100vh;
	/*display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;*/
}

#about {
	grid-row: 3 / 4;
	grid-column: 1 / 3;
}

#LI-profile-badge {
	grid-row: 4 / 5;
	grid-column: 1 / 2;
}
#skills {
	grid-row: 4 / 5;
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#portfolio {
	grid-row: 5 / 6;
	grid-column: 1 / 3;
}
#proj1Img {
	grid-row: 6 / 7;
	grid-column: 1 / 2;
}
#proj1Desc {
	grid-row: 6 / 7;
	grid-column: 2 / 3;
}
#proj2Img {
	grid-row: 7 / 8;
	grid-column: 2 / 3;
}
#proj2Desc {
	grid-row: 7 / 8;
	grid-column: 1 / 2;
}

#docs {
	grid-row: 8 / 9;
	grid-column: 1 / 2;
}
#certs {
	grid-row: 8 / 9;
	grid-column: 2 / 3;
}

/* Footerbar */
footer {
	background-color: #000000;
	grid-row: 9 / 10;
	grid-column: 1 / 3;
	display: inline-block;
	color: white;
}

img {
	height: auto;
}
footer img {
	width: 50px;
	padding-left: 25px;
}
footer a:hover {
	background-color: black;
}

