/*Toni Kuèiæ, , RIJEKA*/
h1{text-align: center;}
h2{font-family:Times New Roman;
		font-size:25px;
		text-decoration:underline;
		color:red}
#uokvireno{border-style:solid;
	border-width:4px;
	border-color:red;
	}
.naglaseno {font-family: Times New Roman ; 
	font-style: bold ; 
	Font-size: 40px;
	}
.ukoseno {font-style: italic;
	}
.podnaslov {font-style: italic; 
	font-size:20px; 
	text-align:center}
body {background-size:100%;
background-color:black;
background-image: tile;
  background-attachment: scroll;
background-repeat: no-repeat;
  }
.resize {
width: 170px;
height : 250px;
}
.resize1 {
width: 200px;
height : 200px;
}
.larger{font-size: 30px}
A:link {color: silver;
	border-style:solid;
	border-width:1px;
	}
A:visited {color: white}
A:active {color: white}
A:hover {text-decoration: underline overline; color: red;}
.big{font-size:20px;);